/bitrix/*
!/bitrix/templates
!/bitrix/components
/bitrix/components/aspro/auth.next/*
/bitrix/components/aspro/catalog.section.list.next/*
/bitrix/components/aspro/catalog.viewed.next/*
/bitrix/components/aspro/com.banners.next/*
/bitrix/components/aspro/instargam.next/*
/bitrix/components/aspro/regionality.list.next/*
/bitrix/components/aspro/social.info.next/*
/bitrix/components/aspro/tabs.next/*
/bitrix/components/aspro/theme.next/*
/bitrix/components/bitrix/*
/bitrix/components/rover/*
/bitrix/components/sotbit/*
/bitrix/components/yandex.market/*
/bitrix/components/.access.php
/phpmyadmin
/upload
/vendor/*
.htaccess.*
.htaccess_*
.htsecure*
sitemap*
