.props-list-block {

    margin-top: 24px;
    // border-top: 1px solid #F2F2F2;
}

.props-list-block__head {
    font-weight: 700;
    margin-bottom: 6px;
}

.props-list-block__footer {
    margin-top: 6px;
}

.whatsapp-consultation-wrapper {

}

.whatsapp-consultation__text {
    display: block;
    position: relative;
    margin-left: 28px;
    font-weight: 600;
    color: #24a61b;
}

.whatsapp-consultation__text:after {
    content: '';
    position: absolute;
    top: 2px;
    left: -28px;
    width: 24px;
    height: 24px;
    background: url('/upload/images/whatsapp.svg') center no-repeat;
    background-size: contain;
}

.whatsapp-consultation__info {
    margin-top: 4px;
    margin-left: 28px;
}

.whatsapp-consultation__info-item {
    position: relative;
}

.whatsapp-consultation__info-item:after {
    content: '';
    position: absolute;
    top: 13px;
    left: -14px;
    width: 10px;
    height: 1px;
    background-color: #b6b5b5;
}

#ownd-detail-whatsapp {
    margin-top: 30px;
}

#ownd-detail-whatsapp a {
}

#ownd-detail-whatsapp img {
    height: 27px;
}

#ownd-detail-whatsapp span {
    color: #24a61b;
    text-decoration: underline;
}

@media screen and (max-width: 350px) {
    #ownd-detail-whatsapp span {
        font-size: 13px;
    }
}
